<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %-5level [%thread]%X{MongoDriver}%X{MongoDriver.transaction}%X{MongoDriver.event} %logger{25}: %msg%n</pattern>
		</encoder>
		<immediateFlush>true</immediateFlush>
	</appender>
	<root level="WARN">
		<appender-ref ref="CONSOLE" />
	</root>

	<logger name="io.vena.bosk.drivers.mongo" level="DEBUG"/>
	<logger name="io.vena.bosk.drivers.DriverConformanceTest" level="DEBUG"/>
	<logger name="io.vena.bosk.drivers.mongo.PandoFormatDriver" level="TRACE"/>
	<logger name="io.vena.bosk.drivers.mongo.MainDriver" level="TRACE"/>
	<!-- How to add more tracing during unit tests
	 -->

</configuration>
